.App {
  text-align: center;
  font-family: Montserrat, serif;
}

.App-header {
  background-color: #61c711;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link, a:visited, a:active, a:hover {
  color: white;
  text-decoration: none;
}

.intro {
  margin-bottom: 2em;
}

.greens {
  margin-top: 2em;
}

.intro-text {
  color: #61c711;
  font-family: Montserrat, serif;
  margin: 0;
  font-weight: bold;
}

.icons-section {
  height: 40vh;
  background-color: #ebebeb;
}

.icons {
  padding: 2em;
  width: 45%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
/*  nonsens*/
}

.contact-items {
  display:inline-block;
}

.submit {
  background-color: #61c711!important;
}

.subscribe-btn {
  background-color: #61c711;
  font-family: Montserrat, serif;
  font-weight: bold;
}